// .node-circle {

// }

.link {
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
}

.circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  

// .node-text {

// }